.createButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9ff690;
    border-radius: 20px;
    margin-top: 10px;
    transition: background 0.8s, color 1.5s;
    width: 250px;
}

.createButton:hover {
    cursor: pointer;
    background: pink;
}


.signPageContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.signupLetter {
    font-weight: bold;
    margin-right: 50px;
}

.signupPageBox {
    display: flex;
    flex-direction: column;
}

.signupExplanation1 {
    margin-bottom: 1px;
}

.signupExplanation2 {
    margin-top: 1px;
}